@font-face {
  font-family: 'proxima_nova_bold';
  src: url("../fonts/proxima_nova_bold/ProximaNova-Bold.eot");
  src: url("../fonts/proxima_nova_bold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_bold/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/proxima_nova_bold/ProximaNova-Bold.woff") format("woff"), url("../fonts/proxima_nova_bold/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/proxima_nova_bold/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_regular';
  src: url("../fonts/proxima_nova_regular/ProximaNova-Regular.eot");
  src: url("../fonts/proxima_nova_regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_regular/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/proxima_nova_regular/ProximaNova-Regular.woff") format("woff"), url("../fonts/proxima_nova_regular/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/proxima_nova_regular/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes pulse {
  from {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -moz-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -moz-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* line 2, ../sass/partials/_help_center.scss */
.help_banner {
  background-color: #FDC00F;
  text-align: center;
  /* Tablets and phablets */
}
/* line 5, ../sass/partials/_help_center.scss */
.help_banner p {
  font-size: 23px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 5, ../sass/partials/_help_center.scss */
  .help_banner p {
    font-size: 36px;
  }
}
/* line 10, ../sass/partials/_help_center.scss */
.help_banner p a {
  color: inherit;
  font-size: .5em;
}
/* line 15, ../sass/partials/_help_center.scss */
.help_banner .section_header {
  max-width: 450px;
}
/* line 18, ../sass/partials/_help_center.scss */
.help_banner .subtitle {
  font-size: 18px;
}
@media only screen and (min-width: 800px) {
  /* line 22, ../sass/partials/_help_center.scss */
  .help_banner .section_title {
    font-size: 35px;
    margin-top: 0;
  }
}

/* line 29, ../sass/partials/_help_center.scss */
.user_help_block {
  /* Tablets and phablets */
}
/* line 30, ../sass/partials/_help_center.scss */
.user_help_block .main_view {
  padding: 0 0 50px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 30, ../sass/partials/_help_center.scss */
  .user_help_block .main_view {
    padding-bottom: 0;
    padding-right: 30px;
  }
}
/* line 39, ../sass/partials/_help_center.scss */
.user_help_block .side_view {
  padding: 0;
}
@media only screen and (min-width: 800px) {
  /* line 44, ../sass/partials/_help_center.scss */
  .user_help_block .help_categories {
    margin: 0 -15px;
  }
}
/* line 51, ../sass/partials/_help_center.scss */
.user_help_block.sub_categories .section_header {
  text-align: left;
}
/* line 54, ../sass/partials/_help_center.scss */
.user_help_block.sub_categories .section_header .section_title {
  font-size: 21px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 54, ../sass/partials/_help_center.scss */
  .user_help_block.sub_categories .section_header .section_title {
    font-size: 40px;
  }
}
/* line 62, ../sass/partials/_help_center.scss */
.user_help_block.sub_categories .section_header .subtitle {
  margin: 0;
  font-size: 16px;
}
/* line 68, ../sass/partials/_help_center.scss */
.user_help_block.sub_categories .topic_list > li {
  line-height: 1.5;
}
/* line 72, ../sass/partials/_help_center.scss */
.user_help_block.sub_categories .content_header {
  margin-bottom: 15px;
}
/* line 77, ../sass/partials/_help_center.scss */
.user_help_block .help_category {
  /* Mobile devices */
}
/* line 78, ../sass/partials/_help_center.scss */
.user_help_block .help_category + .help_category {
  margin-top: 1.5em;
}
@media only screen and (min-width: 480px) {
  /* line 77, ../sass/partials/_help_center.scss */
  .user_help_block .help_category {
    width: 50%;
    float: left;
    padding: 0 15px;
  }
  /* line 87, ../sass/partials/_help_center.scss */
  .user_help_block .help_category + .help_category {
    margin-top: 0;
  }
}

/* line 96, ../sass/partials/_help_center.scss */
.help_category a {
  color: #128A4B;
}
/* line 100, ../sass/partials/_help_center.scss */
.help_category .icon_list_item {
  border-bottom: 1px solid #D0D8DB;
  width: 100%;
  padding: 20px 0;
}
/* line 105, ../sass/partials/_help_center.scss */
.help_category .icon_list_item > * {
  display: table-cell;
  vertical-align: middle;
}
/* line 110, ../sass/partials/_help_center.scss */
.category_banner .help_category .icon_list_item {
  border-bottom: none;
}
/* line 115, ../sass/partials/_help_center.scss */
.help_category .u_info {
  height: 50px;
  line-height: 15px;
  text-align: left;
}
/* line 120, ../sass/partials/_help_center.scss */
.help_category .u_info .u_label {
  width: auto;
  font-family: "proxima_nova_bold", Open Sans, sans-serif;
  font-size: 16px;
  color: inherit;
  margin: 0;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 128, ../sass/partials/_help_center.scss */
  .category_banner .help_category .u_info .u_label {
    font-size: 25px;
  }
}
/* line 135, ../sass/partials/_help_center.scss */
.help_category .u_info .u_subtitle {
  font-size: 14px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 135, ../sass/partials/_help_center.scss */
  .help_category .u_info .u_subtitle {
    font-size: 16px;
  }
}
/* line 145, ../sass/partials/_help_center.scss */
.help_category .u_icon {
  width: 70px;
  padding-right: 10px;
}
/* line 149, ../sass/partials/_help_center.scss */
.category_banner .help_category .u_icon {
  width: 96px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 149, ../sass/partials/_help_center.scss */
  .category_banner .help_category .u_icon {
    width: 128px;
  }
}
/* line 157, ../sass/partials/_help_center.scss */
.help_category .u_icon img {
  max-width: 100%;
}

/* line 163, ../sass/partials/_help_center.scss */
.help_subtitle {
  font-size: 14px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 163, ../sass/partials/_help_center.scss */
  .help_subtitle {
    font-size: 18px;
  }
}

/* line 171, ../sass/partials/_help_center.scss */
.help_content_header {
  background-color: white;
}
/* line 174, ../sass/partials/_help_center.scss */
.help_content_header .help_title {
  color: #353535;
  font-weight: 100;
}

/* line 180, ../sass/partials/_help_center.scss */
.help_link_wrapper {
  padding: 5px;
}
/* line 184, ../sass/partials/_help_center.scss */
.help_link_wrapper:hover help_option_icon {
  opacity: 1;
}

/* line 190, ../sass/partials/_help_center.scss */
.help_txt_centered {
  text-align: center;
}

/* line 194, ../sass/partials/_help_center.scss */
.help_hero_title {
  text-align: center;
}
/* line 196, ../sass/partials/_help_center.scss */
.help_hero_title h4 {
  padding: 10px;
}
/* line 200, ../sass/partials/_help_center.scss */
.help_hero_title p {
  padding: 10px;
}

/* line 205, ../sass/partials/_help_center.scss */
.pane_header_btn {
  margin-top: 20px;
}

/* line 209, ../sass/partials/_help_center.scss */
.help_breadcrumb {
  padding: 10px 0;
  background-color: transparent;
  border-radius: 0;
  margin-bottom: 0;
  list-style-type: none;
}
/* line 216, ../sass/partials/_help_center.scss */
.help_breadcrumb li {
  font-family: "proxima_nova_bold", Open Sans, sans-serif;
  display: inline-block;
}
/* line 220, ../sass/partials/_help_center.scss */
.help_breadcrumb li + li::before {
  padding: 0;
}
/* line 224, ../sass/partials/_help_center.scss */
.help_breadcrumb li.active {
  color: #353535;
}
/* line 228, ../sass/partials/_help_center.scss */
.help_breadcrumb li > a {
  color: #848484;
}
/* line 231, ../sass/partials/_help_center.scss */
.help_breadcrumb li > a:hover {
  color: #128A4B;
}

/* line 238, ../sass/partials/_help_center.scss */
.help_admin_area {
  background-color: #FFFFFF;
  position: relative;
}
/* line 242, ../sass/partials/_help_center.scss */
.help_admin_area .admin_content {
  padding: 20px 0;
}

/* line 248, ../sass/partials/_help_center.scss */
.help_nav_sidebar {
  display: block;
  color: #424242;
  margin: 0px;
  /* Tablets and phablets */
}
/* line 249, ../sass/partials/_help_center.scss */
.help_nav_sidebar .help_nav_sidebar_inner {
  border: 1px solid #E9EBEE;
}
/* line 253, ../sass/partials/_help_center.scss */
.help_nav_sidebar .pane_header {
  display: block;
  text-align: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
@media only screen and (min-width: 800px) {
  /* line 248, ../sass/partials/_help_center.scss */
  .help_nav_sidebar {
    width: 25%;
    float: left;
  }
}
/* line 272, ../sass/partials/_help_center.scss */
.help_nav_sidebar .pane_widgets {
  padding: 0;
}
/* line 276, ../sass/partials/_help_center.scss */
.help_nav_sidebar h1 {
  font-size: 1.8em;
  background: #E9EBEE;
  padding: 10px 20px;
  margin: 0;
}
/* line 283, ../sass/partials/_help_center.scss */
.help_nav_sidebar h2 {
  font-size: 1.2em;
  padding: 10px 20px;
  margin: 0;
}
/* line 289, ../sass/partials/_help_center.scss */
.help_nav_sidebar a {
  color: #848484;
}
/* line 292, ../sass/partials/_help_center.scss */
.help_nav_sidebar a:hover {
  color: #f2A416;
}
/* line 297, ../sass/partials/_help_center.scss */
.help_nav_sidebar ul {
  list-style-type: none;
}
/* line 301, ../sass/partials/_help_center.scss */
.help_nav_sidebar li {
  color: black;
  padding: 10px 10px;
}
/* line 304, ../sass/partials/_help_center.scss */
.help_nav_sidebar li + li {
  border-top: 1px solid #E9EBEE;
}
/* line 309, ../sass/partials/_help_center.scss */
.help_nav_sidebar li.active a {
  color: #FDC00F;
}

/* line 316, ../sass/partials/_help_center.scss */
.help_categories {
  border-bottom: 1px solid #E9EBEE;
}

/* line 320, ../sass/partials/_help_center.scss */
.help_option_icon {
  float: right;
  width: 20px;
  height: 20px;
  font-size: 1em;
  line-height: 20px;
  border-radius: 3px;
  text-align: center;
  background-size: cover;
  opacity: 0.5;
}

/* line 332, ../sass/partials/_help_center.scss */
.help_option_label {
  display: block;
  width: 100%;
  color: #128A4B;
}

/* line 338, ../sass/partials/_help_center.scss */
.help_admin_content {
  margin-top: 20px;
  padding: 0;
  /* Tablets and phablets */
}
/* line 342, ../sass/partials/_help_center.scss */
.help_admin_content .section_title {
  font-size: 21px;
  font-family: "proxima_nova_regular", Open Sans, sans-serif;
  margin-bottom: 8.5px;
}
/* line 347, ../sass/partials/_help_center.scss */
.help_admin_content .section_title + .subtitle {
  font-size: 1em;
}
/* line 352, ../sass/partials/_help_center.scss */
.help_admin_content .content_body {
  width: 100%;
  min-height: 100%;
}
/* line 357, ../sass/partials/_help_center.scss */
.help_admin_content .pane_header {
  position: relative;
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #E9EBEE;
}
/* line 363, ../sass/partials/_help_center.scss */
.help_admin_content .pane_header .post_title {
  display: inline-block;
  font-size: 2em;
}
/* line 368, ../sass/partials/_help_center.scss */
.help_admin_content .pane_header .pane_control {
  display: inline-block;
  float: right;
}
/* line 374, ../sass/partials/_help_center.scss */
.help_admin_content .help_title {
  margin: 0;
  margin-bottom: 15px;
}
@media only screen and (min-width: 800px) {
  /* line 338, ../sass/partials/_help_center.scss */
  .help_admin_content {
    width: 75%;
    display: inline-block;
    margin-top: 0;
  }
}

/* line 386, ../sass/partials/_help_center.scss */
.help_articles {
  padding: 0px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 386, ../sass/partials/_help_center.scss */
  .help_articles {
    padding: 0px 50px;
  }
}

/* line 394, ../sass/partials/_help_center.scss */
.article_feedback {
  padding: 15px 0;
  border-top: 1px solid #E9EBEE;
}
/* line 398, ../sass/partials/_help_center.scss */
.article_feedback .title {
  font-size: 18px;
  margin-bottom: 10px;
}

/* line 404, ../sass/partials/_help_center.scss */
.user_feedback {
  position: relative;
  padding-top: 10px;
}

/* line 409, ../sass/partials/_help_center.scss */
.help_tags {
  text-align: center;
  margin: 20px auto 0;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 409, ../sass/partials/_help_center.scss */
  .help_tags {
    width: 670px;
  }
}
/* line 417, ../sass/partials/_help_center.scss */
.help_tags > li {
  background-color: rgba(0, 0, 0, 0.4);
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  display: inline-block;
}
/* line 424, ../sass/partials/_help_center.scss */
.help_tags > li:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}
/* line 430, ../sass/partials/_help_center.scss */
.help_tags .topic_tag {
  padding: 5px 10px;
  color: inherit;
  display: block;
  border-radius: 3px;
}

/* line 439, ../sass/partials/_help_center.scss */
.help_center .search-form {
  max-width: 640px;
  min-width: 290px;
  margin: 0 auto;
  padding: 4px;
}

/* line 447, ../sass/partials/_help_center.scss */
.search-form {
  position: relative;
}
/* line 450, ../sass/partials/_help_center.scss */
.search-form .search-btn {
  position: absolute;
  top: 13px;
  right: 15px;
  color: #128A4B;
  background: transparent;
  border: 0;
  font-size: 18px;
  outline: 0;
  -moz-transition: all, 0.4s, ease-in-out;
  -o-transition: all, 0.4s, ease-in-out;
  -webkit-transition: all, 0.4s, ease-in-out;
  transition: all, 0.4s, ease-in-out;
}
/* line 461, ../sass/partials/_help_center.scss */
.search-form .search-btn:hover, .search-form .search-btn:focus {
  color: #13542A;
  outline: 0;
}
/* line 467, ../sass/partials/_help_center.scss */
.search-form .form-control {
  font-size: 14px;
  border: 6px solid rgba(18, 138, 75, 0.85);
  border-radius: 30px;
}

/* line 475, ../sass/partials/_help_center.scss */
.topic_list {
  padding: 10px 0;
}
/* line 478, ../sass/partials/_help_center.scss */
.topic_list li {
  display: block;
  margin-bottom: 5px;
}
/* line 483, ../sass/partials/_help_center.scss */
.topic_list a {
  padding: 5px 10px;
  color: inherit;
  display: block;
  font-size: 1.167em;
  font-weight: 600;
  -moz-transition: all, 0.4s;
  -o-transition: all, 0.4s;
  -webkit-transition: all, 0.4s;
  transition: all, 0.4s;
}
/* line 491, ../sass/partials/_help_center.scss */
.topic_list a:hover, .topic_list a:focus {
  text-decoration: underline;
  color: #FDC00F;
}

/* line 500, ../sass/partials/_help_center.scss */
.side_pane + .side_pane {
  margin-top: 30px;
}
/* line 506, ../sass/partials/_help_center.scss */
.side_pane .topic_list a:hover, .side_pane .topic_list a:focus {
  background-color: #128A4B;
  color: #FFFFFF;
  text-decoration: none;
}

/* line 516, ../sass/partials/_help_center.scss */
.user_options .btn {
  display: block;
  margin: 10px auto;
  max-width: 240px;
}

/* line 523, ../sass/partials/_help_center.scss */
.no_float {
  float: none;
}

/* line 527, ../sass/partials/_help_center.scss */
.horizontal_fix {
  display: block;
  float: left;
  width: 33.33%;
}

/*
*
*Corp member program cards
*These styles are cloned from (card_program, card_footer) in _card.scss partials
*
*/
/* line 539, ../sass/partials/_help_center.scss */
.card_program_corp {
  padding: 0 15px;
  margin: 15px 0;
  width: 280px;
  /* Mobile devices */
  /* Tablets and phablets */
}
@media only screen and (min-width: 480px) {
  /* line 539, ../sass/partials/_help_center.scss */
  .card_program_corp {
    width: 50%;
  }
}
@media only screen and (min-width: 800px) {
  /* line 539, ../sass/partials/_help_center.scss */
  .card_program_corp {
    width: calc(33.3%);
  }
}
/* line 552, ../sass/partials/_help_center.scss */
.card_program_corp .card_title {
  font-size: 16px;
}
/* line 556, ../sass/partials/_help_center.scss */
.card_program_corp .divider {
  margin-top: 0;
  width: 35px;
}
/* line 561, ../sass/partials/_help_center.scss */
.card_program_corp .card_wrapper {
  background-color: #f5f5f5;
}

/* line 566, ../sass/partials/_help_center.scss */
.card_details_corp {
  padding: 10px;
}

/* line 570, ../sass/partials/_help_center.scss */
.card_footer_corp {
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin-top: 5px;
}

/* line 1, ../sass/partials/_outside_content.scss */
.secondary_nav {
  *zoom: 1;
  padding: 10px 0;
  background-color: #FFFFFF;
  border-bottom: 1px solid #D0D8DB;
}
/* line 43, ../sass/partials/_mixins.scss */
.secondary_nav:before, .secondary_nav:after {
  content: "";
  display: table;
}
/* line 50, ../sass/partials/_mixins.scss */
.secondary_nav:after {
  clear: both;
}

/* line 9, ../sass/partials/_outside_content.scss */
.secondary_nav_list li {
  display: inline-block;
  padding: 7.5px;
  font-family: "proxima_nova_bold", Open Sans, sans-serif;
  font-size: 11px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 9, ../sass/partials/_outside_content.scss */
  .secondary_nav_list li {
    padding: 0 7.5px;
  }
  /* line 16, ../sass/partials/_outside_content.scss */
  .secondary_nav_list li.active a::after {
    border-bottom: 10px solid #424242;
  }
}
/* line 20, ../sass/partials/_outside_content.scss */
.secondary_nav_list li.active a {
  color: #353535;
  text-transform: uppercase;
}
/* line 25, ../sass/partials/_outside_content.scss */
.secondary_nav_list a {
  color: #848484;
  display: block;
  position: relative;
}
/* line 29, ../sass/partials/_outside_content.scss */
.secondary_nav_list a::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  right: auto;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}
/* line 38, ../sass/partials/_outside_content.scss */
.secondary_nav_list a:hover, .secondary_nav_list a:focus {
  color: #353535;
}

/* line 45, ../sass/partials/_outside_content.scss */
.hero_area {
  padding: 60px 0;
  position: relative;
  background-size: 100%;
}

/* line 51, ../sass/partials/_outside_content.scss */
.blog_banner {
  background-image: url(../img/banners/blog_pattern.png);
  background-size: 300px;
}

/* line 56, ../sass/partials/_outside_content.scss */
.hero_details {
  padding: 0;
  max-width: 750px;
}

/* line 61, ../sass/partials/_outside_content.scss */
.h_title {
  font-size: 26px;
  line-height: 1;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 61, ../sass/partials/_outside_content.scss */
  .h_title {
    font-size: 40px;
  }
  /* line 66, ../sass/partials/_outside_content.scss */
  .h_title + .subtitle {
    font-size: 18px;
  }
}

/* line 72, ../sass/partials/_outside_content.scss */
.full_width {
  width: 100%;
  padding: 30px 0;
}

/* line 77, ../sass/partials/_outside_content.scss */
.h_title_small {
  font-size: 24px;
  line-height: 1;
  padding: 10px 0 0 0;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 77, ../sass/partials/_outside_content.scss */
  .h_title_small {
    font-size: 30px;
  }
  /* line 83, ../sass/partials/_outside_content.scss */
  .h_title_small + .subtitle {
    font-size: 18px;
  }
}

/* Table view for grid items */
/* line 94, ../sass/partials/_outside_content.scss */
.table_custom thead th {
  border-bottom: 2px solid #D0D8DB;
  color: #ccc;
  text-transform: uppercase;
}
/* line 100, ../sass/partials/_outside_content.scss */
.table_custom .row_card {
  clear: both;
}
/* line 102, ../sass/partials/_outside_content.scss */
.table_custom .row_card:hover, .table_custom .row_card:focus {
  box-shadow: 0 1px 5px #D0D8DB;
}

/*
*
*Styles for the Forum
*
*/
/* line 117, ../sass/partials/_outside_content.scss */
.forum_banner {
  background-image: url(../img/banners/blog_pattern.png);
  background-size: 300px;
  padding: 20px;
}
/* line 121, ../sass/partials/_outside_content.scss */
.forum_banner .hero_details {
  max-width: 100%;
  text-align: left;
}

/* line 128, ../sass/partials/_outside_content.scss */
.ad_header .ad_title {
  font-size: 1.2em;
  padding: 10px;
}

/* line 135, ../sass/partials/_outside_content.scss */
.banner_ads_section .banner_ads {
  text-align: center;
  margin: 15px auto;
  padding: 0;
  width: 50%;
  border: 1px solid #E9EBEE;
}
/* line 141, ../sass/partials/_outside_content.scss */
.banner_ads_section .banner_ads .ad_text {
  padding: 10px;
}

/* line 147, ../sass/partials/_outside_content.scss */
.side_ads_section {
  padding: 5px 0px;
}
/* line 149, ../sass/partials/_outside_content.scss */
.side_ads_section .side_ads {
  text-align: center;
  margin: 10px auto;
  padding: 0;
  border: 1px solid #E9EBEE;
}
/* line 154, ../sass/partials/_outside_content.scss */
.side_ads_section .side_ads .ad_text {
  padding: 10px;
}

/* line 160, ../sass/partials/_outside_content.scss */
.related_post_wrapper {
  padding-bottom: 5px;
  border-bottom: 2px solid #E9EBEE;
}

/* line 165, ../sass/partials/_outside_content.scss */
.entry_header {
  border-bottom: 2px solid #E9EBEE;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
/* line 169, ../sass/partials/_outside_content.scss */
.entry_header .forum_post_subtitle {
  font-size: 16px;
}

/* line 174, ../sass/partials/_outside_content.scss */
.forum_post_body {
  margin-top: 10px;
}
/* line 176, ../sass/partials/_outside_content.scss */
.forum_post_body .forum_post_avatar {
  box-sizing: border-box;
  display: block;
  width: 10%;
  float: left;
  padding: 0px 10px 10px 10px;
}
/* line 182, ../sass/partials/_outside_content.scss */
.forum_post_body .forum_post_avatar img {
  width: 45px;
  height: auto;
  border-radius: 50%;
}
/* line 188, ../sass/partials/_outside_content.scss */
.forum_post_body .forum_post_body {
  margin: 0;
  display: block;
  width: 90%;
  float: left;
}
/* line 190, ../sass/partials/_outside_content.scss */
.forum_post_body .forum_post_body .forum_post_author {
  margin-bottom: 15px;
}
/* line 192, ../sass/partials/_outside_content.scss */
.forum_post_body .forum_post_body .forum_post_author h1 {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
}

/* line 204, ../sass/partials/_outside_content.scss */
.pull-right {
  float: right;
}

/* line 208, ../sass/partials/_outside_content.scss */
.pull-center {
  display: block;
  margin: 0 auto;
}

/* line 213, ../sass/partials/_outside_content.scss */
.back_btn_area {
  padding: 10px 30px;
}
/* line 215, ../sass/partials/_outside_content.scss */
.back_btn_area a:hover {
  color: #FFFFFF;
}

/* line 220, ../sass/partials/_outside_content.scss */
.toggle_icon {
  box-sizing: border-box;
  border-radius: 20%;
  padding: 5px 10px;
  transition: 0.6s ease;
}

/* line 227, ../sass/partials/_outside_content.scss */
.toggle_icon:hover,
.toggle_icon:active {
  color: #E9EBEE;
  transition: 0.6s ease;
}

/*
*
* Styles for the comimg soon Page BEGIN here.
*
*/
/* line 240, ../sass/partials/_outside_content.scss */
.coming_soon_body {
  background: black;
  /* For browsers that do not support gradients */
  background: linear-gradient(#000000, #000000 3%, #ffffff 4%, #ffffff);
  /* Standard syntax */
}

/* line 247, ../sass/partials/_outside_content.scss */
.user_subscription {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  padding: 40px 0 40px 0;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url(../img/banners/hourglass.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-blend-mode: overlay;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 247, ../sass/partials/_outside_content.scss */
  .user_subscription {
    padding: 60px 0 60px 0;
  }
}
/* line 263, ../sass/partials/_outside_content.scss */
.user_subscription a {
  text-decoration: none;
}
/* line 266, ../sass/partials/_outside_content.scss */
.user_subscription * > {
  margin: auto;
  text-align: center;
  color: white;
}
/* line 272, ../sass/partials/_outside_content.scss */
.user_subscription header .title {
  font-size: 3em;
  text-align: center;
  color: white;
}
/* line 277, ../sass/partials/_outside_content.scss */
.user_subscription header .subtitle {
  font-size: 1.3em;
  text-align: center;
  color: white;
}
/* line 284, ../sass/partials/_outside_content.scss */
.user_subscription article .text {
  text-align: center;
  margin: 20px;
  color: white;
}
/* line 289, ../sass/partials/_outside_content.scss */
.user_subscription article form {
  margin: 20px;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0px auto;
}
/* line 296, ../sass/partials/_outside_content.scss */
.user_subscription article form .btn {
  margin: 0;
}
/* line 299, ../sass/partials/_outside_content.scss */
.user_subscription article form .email_field {
  border: 1px solid grey;
}

/* line 306, ../sass/partials/_outside_content.scss */
.user_subscription_wrapper {
  max-width: 650px;
  padding: 40px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  /* Tablets and phablets */
}
/* line 312, ../sass/partials/_outside_content.scss */
.user_subscription_wrapper .input-group {
  border: none;
  outline: none;
  width: 50px;
}
@media only screen and (min-width: 800px) {
  /* line 306, ../sass/partials/_outside_content.scss */
  .user_subscription_wrapper {
    margin: auto;
  }
}

/* line 322, ../sass/partials/_outside_content.scss */
.container_box {
  display: flex;
  text-align: center;
  flex-direction: column;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 322, ../sass/partials/_outside_content.scss */
  .container_box {
    flex-direction: row;
  }
}

/* line 332, ../sass/partials/_outside_content.scss */
.flex_1 {
  flex: 1;
  position: relative;
}

/* line 337, ../sass/partials/_outside_content.scss */
.flex_2 {
  flex: 1;
  /* Tablets and phablets */
  position: relative;
}
@media only screen and (min-width: 800px) {
  /* line 337, ../sass/partials/_outside_content.scss */
  .flex_2 {
    flex: 2;
  }
}

/* line 345, ../sass/partials/_outside_content.scss */
.flex_culumn {
  flex-direction: column;
}

/* line 349, ../sass/partials/_outside_content.scss */
.center_justify {
  justify-content: center;
  -webkit-justify-content: center;
  margin: auto;
  align-items: center;
}

/* line 356, ../sass/partials/_outside_content.scss */
.right_justify {
  justify-content: center;
  -webkit-justify-content: center;
  margin: auto;
  align-items: center;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 356, ../sass/partials/_outside_content.scss */
  .right_justify {
    webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
}

/* line 370, ../sass/partials/_outside_content.scss */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  z-index: 0;
  transition: all 1s ease;
}

/* line 382, ../sass/partials/_outside_content.scss */
.image_box {
  box-sizing: border-box;
  min-height: 240px;
  margin: 2px;
}

/* line 388, ../sass/partials/_outside_content.scss */
.image_box_1 {
  box-sizing: border-box;
  margin: 2px;
  position: relative;
  min-height: 240px;
  background-image: url(../img/banners/opportunity.jpg);
  background-size: cover;
}

/* line 397, ../sass/partials/_outside_content.scss */
.image_box_2 {
  box-sizing: border-box;
  margin: 2px;
  position: relative;
  min-height: 240px;
  background-image: url(../img/banners/group.jpg);
  background-size: cover;
  background-position: top;
}

/* line 407, ../sass/partials/_outside_content.scss */
.image_box_3 {
  box-sizing: border-box;
  margin: 2px;
  position: relative;
  min-height: 240px;
  background-image: url(../img/banners/gigs.jpg);
  background-position: center;
  background-size: cover;
}

/* line 417, ../sass/partials/_outside_content.scss */
.image_box_4 {
  box-sizing: border-box;
  margin: 2px;
  min-height: 240px;
  background-image: url(../img/banners/tm_card_img.jpg);
  background-size: cover;
  background-position: center;
}

/* line 426, ../sass/partials/_outside_content.scss */
.image_box_5 {
  box-sizing: border-box;
  margin: 2px;
  min-height: 240px;
  background-image: url(../img/banners/news_insp.jpg);
  background-size: cover;
}

/* line 434, ../sass/partials/_outside_content.scss */
.image_box_6 {
  box-sizing: border-box;
  margin: 2px;
  min-height: 240px;
  background-image: url(../img/banners/find-job.jpg);
  background-size: cover;
}

/* line 449, ../sass/partials/_outside_content.scss */
.image_box:hover .line,
.image_box_1:hover .line,
.image_box_2:hover .line,
.image_box_3:hover .line,
.image_box_4:hover .line,
.image_box_5:hover .line,
.image_box_6:hover .line {
  background-color: white;
}
/* line 452, ../sass/partials/_outside_content.scss */
.image_box:hover .overlay,
.image_box_1:hover .overlay,
.image_box_2:hover .overlay,
.image_box_3:hover .overlay,
.image_box_4:hover .overlay,
.image_box_5:hover .overlay,
.image_box_6:hover .overlay {
  opacity: 1;
}
/* line 454, ../sass/partials/_outside_content.scss */
.image_box:hover .overlay + div,
.image_box_1:hover .overlay + div,
.image_box_2:hover .overlay + div,
.image_box_3:hover .overlay + div,
.image_box_4:hover .overlay + div,
.image_box_5:hover .overlay + div,
.image_box_6:hover .overlay + div {
  color: white;
  transition: all 0.6s ease;
}

/* line 461, ../sass/partials/_outside_content.scss */
.bg_accent {
  background-color: #FDC00F;
}

/* line 465, ../sass/partials/_outside_content.scss */
.bg_primary {
  background-color: #128A4B;
}

/* line 469, ../sass/partials/_outside_content.scss */
.bg_black {
  background-color: #424242;
}

/* line 473, ../sass/partials/_outside_content.scss */
.bg_white {
  background-color: #FFFFFF;
}

/* line 477, ../sass/partials/_outside_content.scss */
.bg_trans {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 10px;
  box-sizing: border-box;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 477, ../sass/partials/_outside_content.scss */
  .bg_trans {
    padding: 20px;
  }
}

/* line 486, ../sass/partials/_outside_content.scss */
.bg_trans_2 {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px 10px;
  box-sizing: border-box;
}

/* line 492, ../sass/partials/_outside_content.scss */
.txt_white {
  color: white;
}

/* line 496, ../sass/partials/_outside_content.scss */
.fancy_card {
  box-sizing: border-box;
  max-width: 280px;
  z-index: 9;
  margin: 5px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 496, ../sass/partials/_outside_content.scss */
  .fancy_card {
    margin: 20px;
  }
}
/* line 504, ../sass/partials/_outside_content.scss */
.fancy_card .line {
  width: 50%;
  height: 1px;
  margin: 0 auto;
  opacity: 0.7;
}
/* line 510, ../sass/partials/_outside_content.scss */
.fancy_card .title {
  margin-bottom: 10px;
  font-size: 1.6em;
}
/* line 514, ../sass/partials/_outside_content.scss */
.fancy_card .subtitle {
  margin-top: 10px;
  font-size: 1em;
}

/* line 520, ../sass/partials/_outside_content.scss */
.email_box {
  max-width: 70%;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 520, ../sass/partials/_outside_content.scss */
  .email_box {
    max-width: 50%;
  }
}

/* line 527, ../sass/partials/_outside_content.scss */
.bordered {
  border: 1px solid grey;
  border-radius: 8px;
}

/*
*
* Styles for the comimg soon Page END here
*
*/
/*
*
* Styles for the REGISTRATION-COMLETE Page BEGIN here
*
*/
/* line 546, ../sass/partials/_outside_content.scss */
.card_section {
  overflow: hidden;
  padding: 0 4px;
}

/* line 552, ../sass/partials/_outside_content.scss */
.cards_2 .card_wrapper {
  width: 100%;
}

/* line 558, ../sass/partials/_outside_content.scss */
.cards_2 .card_wrapper {
  width: calc(100%/2);
}

/* line 564, ../sass/partials/_outside_content.scss */
.cards_3 .card_wrapper {
  width: 100%;
  float: none;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 564, ../sass/partials/_outside_content.scss */
  .cards_3 .card_wrapper {
    width: calc(100%/3);
    float: left;
  }
}

/* line 576, ../sass/partials/_outside_content.scss */
.cards_4 .card_wrapper {
  width: 100%;
  float: none;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 576, ../sass/partials/_outside_content.scss */
  .cards_4 .card_wrapper {
    width: calc(100%/4);
    float: left;
  }
}

/* line 588, ../sass/partials/_outside_content.scss */
.cards_5 .card_wrapper {
  width: 100%;
  float: none;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 588, ../sass/partials/_outside_content.scss */
  .cards_5 .card_wrapper {
    width: calc(100%/5);
    float: left;
  }
}

/* line 599, ../sass/partials/_outside_content.scss */
.card_wrapper {
  box-sizing: border-box;
  display: block;
  float: left;
}
/* line 604, ../sass/partials/_outside_content.scss */
.card_wrapper .card {
  background: white;
  border: 1px solid #E9EBEE;
  margin: 4px;
  transition: all 0.6s ease;
}
/* line 611, ../sass/partials/_outside_content.scss */
.card_wrapper .card img {
  max-width: 100%;
}
/* line 615, ../sass/partials/_outside_content.scss */
.card_wrapper .card h1 {
  color: grey;
  text-align: center;
}
/* line 621, ../sass/partials/_outside_content.scss */
.card_wrapper .card:hover {
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.6s ease;
}

/* line 628, ../sass/partials/_outside_content.scss */
.big_icon {
  font-size: 7em;
  text-align: center;
  color: #FDC00F;
}

/* line 635, ../sass/partials/_outside_content.scss */
.reg_complete header {
  margin-top: 20px;
}
/* line 637, ../sass/partials/_outside_content.scss */
.reg_complete header .title {
  font-size: 1.6em;
  text-align: center;
}
/* line 643, ../sass/partials/_outside_content.scss */
.reg_complete .content section {
  height: 100%;
  align-items: stretch;
  margin: 4px;
}
/* line 647, ../sass/partials/_outside_content.scss */
.reg_complete .content section header {
  text-align: center;
  margin: 20px;
}
/* line 651, ../sass/partials/_outside_content.scss */
.reg_complete .content section .section_body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 651, ../sass/partials/_outside_content.scss */
  .reg_complete .content section .section_body {
    flex-direction: row;
  }
}
/* line 660, ../sass/partials/_outside_content.scss */
.reg_complete .content section .section_body article {
  flex: 1;
  min-width: 260px;
  box-sizing: border-box;
  background: white;
  margin: 2px;
  padding: 20px;
  border: 2px solid #E9EBEE;
  border-radius: 4px;
}
/* line 669, ../sass/partials/_outside_content.scss */
.reg_complete .content section .section_body article h2 {
  color: #848484;
  font-size: 1.6em;
  border-bottom: 2px solid #E9EBEE;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
/* line 676, ../sass/partials/_outside_content.scss */
.reg_complete .content section .section_body article p {
  box-sizing: border-box;
  line-height: 1.5em;
}
/* line 684, ../sass/partials/_outside_content.scss */
.reg_complete .content footer {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin: 20px 0px;
  padding: 20px 0px;
  border-bottom: 2px solid #D0D8DB;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 684, ../sass/partials/_outside_content.scss */
  .reg_complete .content footer {
    flex-direction: row;
  }
}
/* line 696, ../sass/partials/_outside_content.scss */
.reg_complete .content footer .header {
  flex: 1;
  font-size: 1.4em;
  margin: 0;
  padding-bottom: 10px;
}
/* line 702, ../sass/partials/_outside_content.scss */
.reg_complete .content footer .header .title {
  text-align: left;
  font-size: 1.2em;
}
/* line 708, ../sass/partials/_outside_content.scss */
.reg_complete .content footer .content {
  flex: 1;
}
/* line 711, ../sass/partials/_outside_content.scss */
.reg_complete .content footer .content article {
  margin-bottom: 10px;
}
/* line 713, ../sass/partials/_outside_content.scss */
.reg_complete .content footer .content article p {
  box-sizing: border-box;
  margin: 2px;
  padding: 0 5px 5px 5px;
  font-size: 1.1em;
}
/* line 719, ../sass/partials/_outside_content.scss */
.reg_complete .content footer .content article .name {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 726, ../sass/partials/_outside_content.scss */
.reg_complete .content .print_btn {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 731, ../sass/partials/_outside_content.scss */
.reg_complete .content .print_btn div {
  flex: 1;
  margin: auto;
}
/* line 734, ../sass/partials/_outside_content.scss */
.reg_complete .content .print_btn div a {
  text-decoration: none;
  color: #128A4B;
}

/*
*
* Styles for the REGISTRATION-COMLETE Page END here
*
*/
/*
*
* Styles for the REGISTRATION-SLIP Page BEGIN here
*
*/
/* line 757, ../sass/partials/_outside_content.scss */
.reg_slip {
  padding: 20px;
}
/* line 759, ../sass/partials/_outside_content.scss */
.reg_slip .print_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 763, ../sass/partials/_outside_content.scss */
.reg_slip .print_btn div {
  flex: 1;
  margin: auto;
}
/* line 768, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 640px;
  background-color: white;
  margin: 20px auto;
}
/* line 773, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper header {
  padding: 60px 40px 0px 40px;
  margin: 30px auto;
  text-align: center;
}
/* line 777, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper header img {
  width: 180px;
  height: auto;
}
/* line 781, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper header .title {
  font-size: 1.4em;
  margin-top: 10px;
}
/* line 786, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper .content {
  padding: 0px 40px 0px 40px;
  margin-bottom: 10px;
}
/* line 789, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper .content label {
  color: #128A4B;
}
/* line 792, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper .content section {
  margin-bottom: 15px;
}
/* line 795, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper .content .agreement {
  margin-top: 10px;
}
/* line 799, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper .content .info article {
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #E9EBEE;
  margin-bottom: 10px;
}
/* line 804, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper .content .info article label {
  padding: 5px;
  margin: 0;
}
/* line 808, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper .content .info article p {
  border-top: 1px solid #E9EBEE;
  padding: 5px;
  font-weight: bold;
}
/* line 815, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper .content .nysc_details {
  display: flex;
}
/* line 817, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper .content .nysc_details article {
  flex: 1;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #E9EBEE;
}
/* line 822, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper .content .nysc_details article label {
  padding: 5px;
}
/* line 825, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper .content .nysc_details article p {
  border-top: 1px solid #E9EBEE;
  padding: 5px;
  font-weight: bold;
}
/* line 833, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper .interest {
  margin-bottom: 10px;
  border-radius: 2px;
  border: 1px solid #E9EBEE;
  display: flex;
  justify-content: space-between;
}
/* line 839, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper .interest article {
  flex: 1;
}
/* line 841, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper .interest article h2 {
  font-size: 1.2em;
  padding: 5px;
  border-bottom: 1px solid #E9EBEE;
}
/* line 846, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper .interest article ul {
  list-style-type: none;
  padding: 5px;
}
/* line 849, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper .interest article ul li {
  display: block;
  float: left;
  box-sizing: border-box;
  padding: 7px;
  margin: 0;
  border-right: 1px solid #E9EBEE;
}
/* line 857, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper .interest article ul li:last-child {
  border: none;
}
/* line 863, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper footer {
  background-color: #E9EBEE;
  padding: 20px 40px 60px 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
/* line 869, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper footer section {
  flex: 1;
  flex-basis: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
/* line 875, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper footer section article {
  margin-top: 40px;
  flex: 1;
}
/* line 878, ../sass/partials/_outside_content.scss */
.reg_slip .reg_slip_wrapper footer section article .line {
  background-color: #128A4B;
  width: 50%;
  height: 1px;
  margin-bottom: 10px;
}

/*
*
* Styles for the REGISTRATION-SLIP Page END here
*
*/
/*
*
*
*CV Page
*
*/
/* line 904, ../sass/partials/_outside_content.scss */
.cv_hero {
  padding: 60px 0 20px 0;
  background-color: rgba(64, 64, 6, 0.7);
  background-image: url(../img/banners/cv_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-blend-mode: overlay;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 904, ../sass/partials/_outside_content.scss */
  .cv_hero {
    padding: 180px 0 20px 0;
    min-height: 567px;
  }
}
/* line 919, ../sass/partials/_outside_content.scss */
.cv_hero .bottom {
  margin-top: 20px;
  overflow: hidden;
  font-family: proxima_nova_regular;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 919, ../sass/partials/_outside_content.scss */
  .cv_hero .bottom {
    margin-top: 100px;
  }
}
/* line 928, ../sass/partials/_outside_content.scss */
.cv_hero .bottom .bottom_wrapper {
  width: 100%;
  display: block;
  padding: 20px 30px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 928, ../sass/partials/_outside_content.scss */
  .cv_hero .bottom .bottom_wrapper {
    width: calc(100%/3);
    display: block;
    float: left;
  }
}
/* line 941, ../sass/partials/_outside_content.scss */
.cv_hero .bottom .bottom_wrapper .bottom_inner {
  padding: 20px 10px;
  border: 1px solid white;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 8px 8px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
}
/* line 950, ../sass/partials/_outside_content.scss */
.cv_hero .bottom .bottom_wrapper .bottom_inner:hover {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
}
/* line 954, ../sass/partials/_outside_content.scss */
.cv_hero .bottom .bottom_wrapper .bottom_inner h1 {
  font-size: 3em;
}
/* line 958, ../sass/partials/_outside_content.scss */
.cv_hero .bottom .bottom_wrapper .bottom_inner p {
  font-size: 1.5em;
  margin-top: 10px;
}
/* line 967, ../sass/partials/_outside_content.scss */
.cv_hero h1 {
  font-size: 3em;
  line-height: 1.1;
  margin-bottom: 15px;
  font-family: proxima_nova_regular;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 967, ../sass/partials/_outside_content.scss */
  .cv_hero h1 {
    font-size: 5em;
  }
}
/* line 978, ../sass/partials/_outside_content.scss */
.cv_hero h2 {
  font-size: 1.2em;
  line-height: 1.4;
  font-family: proxima_nova_regular;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 978, ../sass/partials/_outside_content.scss */
  .cv_hero h2 {
    font-size: 1.8em;
  }
}
/* line 988, ../sass/partials/_outside_content.scss */
.cv_hero p {
  margin-top: 2em;
}
/* line 992, ../sass/partials/_outside_content.scss */
.cv_hero .btn-trans {
  text-decoration: none;
  border: 1px solid #FFFFFF;
  padding: 10px 20px;
  border-radius: 4px;
  transition: all 0.6s ease;
}
/* line 1001, ../sass/partials/_outside_content.scss */
.cv_hero .btn-trans:hover {
  border: 1px solid #f2A416;
  transition: all 0.6s ease;
}

/* line 1008, ../sass/partials/_outside_content.scss */
.section_area {
  padding: 30px 0 40px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 1008, ../sass/partials/_outside_content.scss */
  .section_area {
    padding: 60px 0 60px;
  }
}

/* line 1016, ../sass/partials/_outside_content.scss */
.section_area_header {
  font-family: proxima_nova_regular;
  margin-bottom: 30px;
}
/* line 1020, ../sass/partials/_outside_content.scss */
.section_area_header h1 {
  line-height: 1.2;
  margin-bottom: .4em;
  font-size: 3em;
  font-family: proxima_nova_regular;
}
/* line 1027, ../sass/partials/_outside_content.scss */
.section_area_header h2 {
  line-height: 1.4;
  font-size: 1.5em;
  font-family: proxima_nova_regular;
}

/* line 1034, ../sass/partials/_outside_content.scss */
.section_area_cards {
  padding: 20px 15px 20px;
}
/* line 1037, ../sass/partials/_outside_content.scss */
.section_area_cards header {
  border-top: 1px solid #E9EBEE;
  padding-top: 10px;
  margin-top: 30px;
}
/* line 1042, ../sass/partials/_outside_content.scss */
.section_area_cards header h1 {
  line-height: 1.2;
}
/* line 1047, ../sass/partials/_outside_content.scss */
.section_area_cards footer {
  margin-top: 60px;
}
/* line 1051, ../sass/partials/_outside_content.scss */
.section_area_cards p {
  border-top: 1px solid #E9EBEE;
  padding-top: 10px;
  margin-top: 5px;
  font-size: 1.1em;
  line-height: 180%;
}
/* line 1059, ../sass/partials/_outside_content.scss */
.section_area_cards .txt {
  margin-top: 10px;
  text-align: center;
  min-height: 8em;
}
/* line 1065, ../sass/partials/_outside_content.scss */
.section_area_cards .txt_red {
  color: #C60F14;
  text-align: left;
  font-size: 1.2em;
}

/* line 1072, ../sass/partials/_outside_content.scss */
.cv_list {
  padding: 10px 0;
  overflow: hidden;
}
/* line 1076, ../sass/partials/_outside_content.scss */
.cv_list article {
  font-size: 1.2em;
  padding: 5px 10px 15px 25px;
}
/* line 1081, ../sass/partials/_outside_content.scss */
.cv_list article header h1 {
  font-family: proxima_nova_regular;
  font-size: 1.4em;
  line-height: 1em;
  min-height: 2.8em;
  margin-top: 10px;
  margin-bottom: 7px;
  padding-bottom: 7px;
  border-bottom: 2px solid #D0D8DB;
}
/* line 1092, ../sass/partials/_outside_content.scss */
.cv_list article header .list {
  font-size: 1em;
}
/* line 1098, ../sass/partials/_outside_content.scss */
.cv_list article footer h2 {
  font-family: proxima_nova_bold;
  font-size: 1.1em;
  margin-top: 10px;
}
/* line 1106, ../sass/partials/_outside_content.scss */
.cv_list article:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
/* line 1112, ../sass/partials/_outside_content.scss */
.cv_list a:hover {
  background: black;
  color: #303030;
}

/* line 1118, ../sass/partials/_outside_content.scss */
.cv_list:hover .article:not(:hover) {
  opacity: 0.5;
}

/* line 1122, ../sass/partials/_outside_content.scss */
.cv_faq {
  list-style-type: none;
}
/* line 1126, ../sass/partials/_outside_content.scss */
.cv_faq li header {
  margin-bottom: 5px;
}
/* line 1130, ../sass/partials/_outside_content.scss */
.cv_faq li p {
  margin-bottom: 15px;
  margin-left: 5px;
  font-size: 1.1em;
}

/* line 1138, ../sass/partials/_outside_content.scss */
.cv_bg_cards {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  min-height: 150px;
  padding: 20px 20px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 1138, ../sass/partials/_outside_content.scss */
  .cv_bg_cards {
    min-height: 350px;
    padding: 20px 20px;
  }
}
/* line 1156, ../sass/partials/_outside_content.scss */
.cv_bg_cards p {
  border-top: 1px solid grey;
  padding-top: 15px;
  font-size: 1.1em;
  line-height: 180%;
}

/* line 1164, ../sass/partials/_outside_content.scss */
.cv_card_img_wrapper {
  padding-top: 20px;
}
/* line 1167, ../sass/partials/_outside_content.scss */
.cv_card_img_wrapper img {
  max-width: 380px;
}

/* line 1171, ../sass/partials/_outside_content.scss */
.cv_card_header {
  line-height: 1.2;
  padding: 40px 40px 0px;
}
/* line 1175, ../sass/partials/_outside_content.scss */
.cv_card_header h1 {
  font-family: proxima_nova_regular;
}

/* line 1180, ../sass/partials/_outside_content.scss */
.cv_card {
  box-sizing: border-box;
  font-size: 1.4em;
  line-height: 1.2;
  padding: 15px 0px 30px;
  font-family: proxima_nova_regular;
  text-align: center;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 1180, ../sass/partials/_outside_content.scss */
  .cv_card {
    text-align: left;
  }
}
/* line 1192, ../sass/partials/_outside_content.scss */
.cv_card img {
  max-width: 150px;
  margin-bottom: 20px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 1192, ../sass/partials/_outside_content.scss */
  .cv_card img {
    max-width: 96px;
    max-height: 96px;
    margin-bottom: 0;
  }
}

/* line 1204, ../sass/partials/_outside_content.scss */
.bg_cards_parallex {
  padding: 60px 0 60px 0;
  background-color: rgba(32, 32, 0, 0.7);
  background-image: url(../img/banners/architecture-2256489_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
}

/* line 1215, ../sass/partials/_outside_content.scss */
.cv_bg_card_1 {
  background-image: url(../img/banners/cv_card_1.jpg);
  background-color: rgba(0, 32, 32, 0.7);
}

/* line 1220, ../sass/partials/_outside_content.scss */
.cv_bg_card_2 {
  background-image: url(../img/banners/cv_card_2.jpg);
}

/* line 1224, ../sass/partials/_outside_content.scss */
.cv_bg_card_3 {
  background-color: rgba(0, 0, 32, 0.8);
  background-image: url(../img/banners/cv_card_3.jpg);
}

/* line 1230, ../sass/partials/_outside_content.scss */
.cv_bg_card_4 {
  background-image: url(../img/banners/cv_card_4.jpg);
  background-color: rgba(32, 16, 0, 0.5);
  background-position: right;
}

/* line 1236, ../sass/partials/_outside_content.scss */
.cv_bg_card_5 {
  background-image: url(../img/banners/cv_card_5.jpg);
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 1243, ../sass/partials/_outside_content.scss */
.cv_icon_img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 1253, ../sass/partials/_outside_content.scss */
.cv_form {
  padding: 40px 20px;
  border-radius: 4px;
  box-shadow: 0 2px 20px 2px rgba(0, 0, 0, 0.2), 0 2px 14px 1px rgba(0, 0, 0, 0.3);
  font-family: proxima_nova_regular;
}
/* line 1259, ../sass/partials/_outside_content.scss */
.cv_form label {
  color: #128A4B;
}
/* line 1263, ../sass/partials/_outside_content.scss */
.cv_form img {
  max-width: 96px;
}
/* line 1267, ../sass/partials/_outside_content.scss */
.cv_form .payment {
  margin-top: 20px;
  padding: 10px;
  font-family: proxima_nova_regular;
  border: 1px solid #E9EBEE;
  /* Tablets and phablets */
}
@media only screen and (min-width: 800px) {
  /* line 1267, ../sass/partials/_outside_content.scss */
  .cv_form .payment {
    margin-top: 60px;
    border: none;
  }
}
/* line 1278, ../sass/partials/_outside_content.scss */
.cv_form .payment .payment_options {
  margin-top: 20px;
}
/* line 1280, ../sass/partials/_outside_content.scss */
.cv_form .payment .payment_options img {
  max-width: 42px;
}
/* line 1285, ../sass/partials/_outside_content.scss */
.cv_form .payment .payment_options .opt {
  margin-top: 20px;
}
/* line 1289, ../sass/partials/_outside_content.scss */
.cv_form .payment .payment_options .account_details {
  padding: 5px;
  background-color: #E9EBEE;
  border-radius: 4px;
  margin: 5px 5px 5px 0;
}
/* line 1296, ../sass/partials/_outside_content.scss */
.cv_form .payment .payment_options p {
  font-size: 1em;
  font-weight: 500;
}
/* line 1300, ../sass/partials/_outside_content.scss */
.cv_form .payment .payment_options h2 {
  font-family: proxima_nova_regular;
}
/* line 1303, ../sass/partials/_outside_content.scss */
.cv_form .payment .payment_options h6 {
  margin-top: 15px;
  font-family: proxima_nova_regular;
}

/*We have this colors defined in base already. please use where apropriate*/
