@charset "utf-8";
$brand_primary: #006838; // Color red
$brand_primary_hover: darken($brand_primary, 7.5);
$brand_accent: #f38141; // Color Purple
$brand_accent_hover: darken($brand_accent, 7.5);
$brand_black: #1e1d1c;
$color_white: #fcfcfc; // off White
$color_text: #454545; // text color
$color_grey_dark: #777777;
$color_grey_light: #cccccc;
$border_grey: #d5d5d5;
$border_grey_light: #e5e5e5;
$border_grey_dark: #999;
$font_regular: "openSansRegular",
Segoe UI,
sans-serif;
$font_bold: "openSansBold",
Myriad Pro,
sans-serif;
$header_utility_height: 30px;
//header height
$header_height: 80px;
// z-index
$content-zindex: 1;
$nav-zindex: 2;
$header-zindex: 30;
@font-face {
    font-family: 'openSansBold';
    src: url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot');
    src: url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'openSansRegular';
    src: url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
    src: url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}